.container {
  width: 60%;
  background-color: #1a2226;
  opacity: 75%;
  padding-top: 6%;
  padding-bottom: 5%;
  text-align: left;
  border-radius: 1%;
}

/* .card_custom{
  max-width: max-content !important;
} */

.error {
  color: #ff0000;
  font-size: 1em;
  display: relative;
}

.input-error {
  border: #ff0000 2px solid !important;
}

.container label {
  margin-left: 10%;
  font-weight: 700;
  color: aqua;
}

.container button {
  margin-top: 3%;
  margin-left: 10%;
  width: 80%;
}

.container input {
  width: 80%;
  margin-left: 10%;
}

.box {
  width: 100%;
  background-image: url("http://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxzZWFyY2h8MXx8am9ifHwwfHx8&ixlib=rb-1.2.1&q=80&w=1080");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(194, 181, 194, 0.329);
  background-blend-mode: lighten;
  padding-top: 3%;
  padding-bottom: 15%;
}

@media only screen and (max-width:750px) {

  .register_card_custom {
    min-width: 80vw !important;
    font-size: 0.9rem !important;
  }

  .register_card_custom input {
    font-size: 0.8rem !important;
  }

  .error{
    font-size: 0.7rem;
  }
}