
#offer-range{
    color: white;
    font-size: 15px;
}

#offer-range:hover{
    transform: scale(1.1);
}

#offer-range>img{
    width:50px;
    height: 50px;
}
.home .container{
    width: unset;
    background-color: rgba(82, 23, 109, 0.521);

}
a{
    font-weight: bold
}

.itemLink Button{
    font-weight: bold
}

