.searchForm{
    display: flex;
    width: fit-content;
}
.inputSearch{
    width: 75% !important;
}
.searchBtn{
    width: 50px;
}

@media only screen and (max-width: 1090px){
    .navBTN{
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 991px){
    .searchForm{
        display: flex;
        width: fit-content;
        margin: 10px auto;

    }
    .navLINK{
        border-bottom: 1px solid #888;
    }

}