.background{
    background: #0d1117;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #30363d;
    justify-content: center;
    align-items: center;
    padding-left:15px;
    padding-right:15px;
    padding-top: 15px;
    margin-top: 2%;

    height: 500px;
    width: 390px;
    color: white;
}
.contactUs{
  padding-top: 5%;
  margin-bottom: 5%;
}
