
.container {
    width: 50%;
    background-color: #ffee93;
    padding-top: 6%;
    padding-bottom: 5%;
    /* border-radius: 8%; */

}
.container label{
    float: left;
}
.container input{
    width: 50%;
    margin-left: 21%;
}