.aboutus {
  background: #0d1117;
}
.about-heading {
  display: inline-block;
  font-size: 4rem;
  margin-top: 2rem;
  border-radius: 25px;
  padding: 8px;
  /* background-color: #fff; */
  color: #fff;
  mix-blend-mode: screen;
  text-align: center;
  -webkit-text-stroke: 1px yellow;
  text-shadow: 0px 4px 4px yellow;
  margin-bottom: 1.5rem;
}
.about-heading1 {
  display: inline-block;
  font-size: 3.75rem;
  margin-top: 3rem;
  border-radius: 25px;
  padding: 8px;
  /* background-color: #fff; */
  color: #fff;
  mix-blend-mode: screen;
  text-align: center;
  -webkit-text-stroke: 1px yellow;
  text-shadow: 0px 4px 4px yellow;
  margin-bottom: 0%;
}
.about-img {
  width: 25vw;
  height: 50vh;
  border: 3px solid #fff;
  border-radius: 50%;
  /* margin-bottom: 1.5rem;; */
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

#offer-range1 {
  color: white;
  font-size: 15px;
  padding: 5% 5% 7% 5%;
  min-height: 30vh;
}
#offer-range2 {
  color: white;
  font-size: 15px;
  padding: 5% 5% 7% 5%;
  min-height: 30vh;
}
#offer-range3 {
  color: white;
  font-size: 15px;
  padding: 5% 5% 7% 5%;
  min-height: 30vh;
}

#offer-range1:hover {
  transform: scale(1.1);
}
#offer-range2:hover {
  transform: scale(1.1);
}
#offer-range3:hover {
  transform: scale(1.1);
}
#offer-range4:hover {
  transform: scale(1.1);
}

#offer-range1 > img {
  width: 12vw;
  height: 25vh;
  border-radius: 50%;
  margin-bottom: 1rem;
}
#offer-range2 > img {
  width: 12vw;
  height: 25vh;
  border-radius: 50%;
  margin-bottom: 1rem;
}
#offer-range3 > img {
  width: 12vw;
  height: 25vh;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.btn-v {
  padding: 1.5% 2% 1.5% 2%;
  color: #fff;
  border: 3px solid #fff;
  font-size: 1.25rem;
  background-color: transparent;
  border-radius: 16px;
}
.btn-v:hover {
  background-color: #fff;
  color: #000;
  border: 3px solid yellow;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
  .about-img {
    width: 33vw;
    height: 45vh;
    margin-bottom: 2.5rem;
  }

  #offer-range1 > img {
    width: 25vw;
    height: 25vh;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  #offer-range2 > img {
    width: 25vw;
    height: 25vh;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  #offer-range3 > img {
    width: 25vw;
    height: 25vh;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .about-img {
    width: 40vw;
    height: 40vh;
    margin-bottom: 2.5rem;
  }
  #offer-range1 > img {
    width: 30vw;
    height: 25vh;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  #offer-range2 > img {
    width: 30vw;
    height: 25vh;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  #offer-range3 > img {
    width: 30vw;
    height: 25vh;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  .btn-v {
    margin-bottom: 2rem;
  }
}
