
.newFooter {
    bottom: 0;
    width: 110%;
    padding: 0px;
    margin: 0px;
}
footer ul {
    padding: 0px 0;
    margin: 0;
    width: 100%;
    border-bottom: 2px dotted #6c6c6c;
    
}
footer a {
    color: inherit;
    width: 100%;
}
footer li.listHeading {
    display: block;
    margin: 2vw 2%;      
   width: 20%;
    
}

footer li.listFooter{
    display: block;
    margin: 0px;
    
}

footer li.mob{
    display: none;
}


