.slider-frame{
    overflow: hidden;
    height: 500px;
    width: 100%;
}

@keyframes slider_animation{
    0%{
        left: 0px;
    }
    10%{
        left: 0px;
    }
    20%{
        left: 1200px;
    }
    30%{
        left: 1200px;
    }
    40%{
        left: 2400px;
    }
    50%{
        left: 2400px;
    }
    60%{
        left: 1200px;
    }
    70%{
        left: 1200px;
    }
    80%{
        left: 1200px;
    }
    90%{
        left: 0px;
    }
    100%{
        left: 0px;
    }
}

.slide-images{
width: 3600px;
height: 800px;
margin: 0 0 0 -2400px;

}
 .img-container{
    height: 700px;
    width: 1200px;
}
.img-container img{
    width: 100%;
    height: auto;
    text-align: center;
}
.slide-items{
    height: 800px;
    width: 1200px;
    position: relative;
    animation: slider_animation 10s infinite alternate;  
    float: left;
}
.Content-box-slider{
    width: 600px;
    height: 200px;
    padding-bottom: 4rem;
    background-color: #4C4C4C;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 10%;
}
.Content-box-slider h1{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: #fb3958;
}
.Content-box-slider p{
    font-size: 14px;
    line-height: 24px;
}
.Content-box-slider span{
   width: 150px;
   height: 3px;
   margin-top: 0.5rem;
    position: absolute;
    background-color: red;
    left: 40%;
    top: 25%;
}