h2 {
  color: white;
  text-decoration: underline;
  margin: auto;
  text-align: center;
}
.center {
  text-align: center;
}

.edu {
  /* margin-right: 115px; */
}

h1 {
  color: white;
  text-decoration: underline;
}
h6 {
  color: white;
}

.main-box {
  /* background-color: #1f4468; */
  width: 750px;
  margin: auto;
  border-radius: 30px;
  border: 2px solid #d6c20a;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.ProfileBuilderheading {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
  padding: 0 30px;
}
.inst {
  color: #aaa;
  padding: 0 30px;
}

.side,
.byside {
  display: inline-block;
  width: 45%;
}

.education,
.experience,
.projects,
.skills,
.achievments,
.volunteer,
.Other,
.projects {
  text-align: left;
  padding: 0 30px;
  margin-top: 4px;
}

.form-main {
  text-align: left;
  padding: 0 30px;
  margin-top: 4px;
}

span {
  color: red;
  padding-left: 5px;
  font-size: 1.2rem;
}

.label-text {
  color: white;
  margin-top: 20px;
}

input,
select {
  background-color: #a6a6a6;
  border-radius: 6px;
  width: 30%;
}

textarea {
  background-color: #a6a6a6;
  border-radius: 6px;
}
.textbox {
  width: 100%;
}

.text-long {
  background-color: #a6a6a6;
  border-radius: 6px;
  width: 100%;
  padding: 5px 10px;
}

::placeholder {
  color: #000;
  font-size: 0.8rem;
}

.add-button {
  margin-left: 10px;
}

.side-by-side {
  display: inline-block;
}

.long-cal {
  width: 75%;
}

.subHeading {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}
.buttonProfileDiv{
  padding: 0 30px 30px ;
}

.buttonProfileDiv .buttonProfile{
  font-size: 1.2rem;
  width: 100%;
  color: aqua !important;
  /* margin: 10px 30px !important; */
  /* box-sizing: border-box; */
  padding: 10px 30px;
  background-color: #d6c20a !important;
  border-radius: 10px;
}

.btnprofile{
  color: #222;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .main-box {
    width: 600px;
  }
}
@media only screen and (max-width: 650px) {
  .main-box {
    width: 500px;
  }
  .side,
  .byside {
    /* display: inline-block; */
    width: 100%;
  }
  .ProfileBuilderheading {
    font-size: 2.5rem;
  }
  .subHeading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 510px) {
  .main-box {
    width: 450px;
  }
  .inst {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 460px) {
  .main-box {
    width: 400px;
  }
  .ProfileBuilderheading {
    font-size: 2.1rem;
  }
  .subHeading {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 420px) {
  .main-box {
    width: 350px;
  }
}
@media only screen and (max-width: 360px) {
  .main-box {
    width: 300px;
  }
}
@media only screen and (max-width: 30px) {
  .main-box {
    width: 250px;
  }
}
